:root {
    --primary-color: #3B4752;
    --secondary-color: rgb(35, 114, 211);
    --third-color: #A0DE37;
    --hover-color: #48B0F7;
    --font-title-h1: 2rem;
    --font-title-h2: 1.5rem;
    --font-title-h3: 1.3rem;
    --sm: 0.8rem;
    --md: 1rem;
    --lg: 1.2rem;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.login {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}



.logo {
    width: 20rem;
    margin-bottom: 48px;
    justify-self: center;
    display: none;
}

.form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.title {
    font-size: var(--font-title-h1);
    margin-bottom: 24px;
    text-align: center;
    color: var(--primary-color);
}

.mi-cuenta {
    font-size: var(--font-title-h2);
    font-weight: bold;
    margin-bottom: 40px;

}

.subtitle {
    font-size: var(--font-title-h3);
    color: #333333be;
    text-align: center;
    margin-bottom: 30px;
}

form,
.email-container {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.email-container {
    display: flex;
    flex-direction: column;

}

form div {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: var(--lg);
    color: var(--primary-color);
    font-weight: bold;
    margin-bottom: 4px;
}

input,
.value {
    background-color: #e7e7e7;
    border: none;
    padding: 10px;
    margin: 5px 0 10px 0;
    border-radius: 8px;
    height: 36px;
    font-size: var(--lg);
}

.btn-primary {
    background-color: var(--secondary-color);
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 24px;
    height: 50px;
    font-size: var(--font-title-h2);
    width: 100%;
    font-weight: bold;
    margin-bottom: 20px;
}

.btn-secondary {
    background-color: white;
    color: var(--secondary-color);
    border: solid 1px var(--secondary-color);
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 24px;
    height: 50px;
    font-size: var(--font-title-h2);
    width: 100%;
    font-weight: bold;
    margin-bottom: 20px;
}

.btn-primary:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

::placeholder {
    color: #c2bfbf;
}

.fa-envelope {
    font-size: 8rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 80px;
    width: 150px;
    height: 150px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.email-enviado {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resend {
    font-size: var(--font-title-h3);
    color: var(--secondary-color);
    text-align: center;
    text-decoration: none;
}

.input-email {
    font-size: var(--font-title-h2);
    color: #33333389;
}

.input-password {
    font-size: 3rem;
    display: flex;
    padding-top: 15px;
}

.btn-secondary {
    border: solid 1px var(--secondary-color);
    background-color: white;
    height: 50px;
    font-size: var(--font-title-h2);
    color: var(--secondary-color);
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    margin-top: 50px;
}

.btn-secondary:hover {
    border: solid 1px var(--secondary-color);
    background-color: var(--secondary-color);
    color: white;
    cursor: pointer;
}

.card-container {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 30px;
    place-content: center;
}

.resumen-servicio {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.valor-servicio {
    display: flex;
    flex-direction: column;
}

.service-img {
    width: 240px;
    height: 240px;
    border-radius: 20px;
    margin-bottom: 10px;
    object-fit: cover;
}

.precios {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
}

.nombre-servicio {
    font-size: 1.4rem;
    color: rgba(149, 148, 148, 0.663);
}

.cart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--secondary-color);
    width: 45px;
    height: 45px;
    border-radius: 30px;
}

.cart-container:hover {
    background: var(--hover-color);
    cursor: pointer;
}

.fa-cart-plus {
    font-size: 2.5rem;
    color: white;
}

.desktop-menu {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    width: 170px;
    height: auto;
    padding: 10px 10px 10px 10px;
    background-color: white;
    border: none;
    border-radius: 5px;
    box-shadow: -2px 2px 9px 2px rgba(102, 102, 102, 0.499);
    -webkit-box-shadow: -2px 2px 9px 2px rgba(102, 102, 102, 0.499);
    -moz-box-shadow: -2px 2px 9px 2px rgba(102, 102, 102, 0.499);
}

.desktop-menu ul li {
    text-align: end;
}

.desktop-menu li {
    list-style-type: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.desktop-menu a {
    text-decoration: none;
}

.desktop-menu ul li:last-child {
    padding-top: 20px;
    border-top: solid 1px #3b47521b;
}

.desktop-menu ul li:last-child a {
    margin: 5px;
    font-size: var(--font-title-h3);
    color: var(--secondary-color);
    padding-right: 8px;
}

.desktop-menu ul li:last-child a:hover {
    color: var(--hover-color);
}

.title-menu:hover {
    color: #676767;
}

.title-menu {
    font-weight: bold;
    font-size: var(--font-title-h2);
    color: var(--primary-color);
    text-decoration: none;
}

.movil-menu-first {
    text-decoration: none;
    margin-bottom: 60px;
    margin-top: 50px;
    font-weight: bold;
    font-size: var(--font-title-h3);
}

.movil-menu-first a {
    text-decoration: none;
    margin: 30px;
    color: var(--primary-color);
}

.movil-menu-first li {
    margin: 30px;
    list-style: none;
}

.movil-menu-second {
    text-decoration: none;
    margin-bottom: 60px;
    margin-top: 30px;
    font-weight: bold;
    font-size: var(--font-title-h3);
    position: absolute;
    bottom: 0;
}

.movil-menu-second a {
    text-decoration: none;
    margin: 30px;
    font-weight: 300;
    color: var(--primary-color);
}

.movil-menu-second li {
    margin-left: 30px;
    margin-bottom: 5px;
    list-style: none;
}

.movil-menu-second ul li:last-child a {
    color: var(--secondary-color);
    font-weight: 400;
}

.line-menu {
    width: 300px;
    height: 1px;
    background-color: #67676745;
    margin: 50px;
}

.title-order{
    font-size: var(--font-title-h3);
    font-weight: bold;
    margin: 40px;
}

.my-order-content {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    align-items: center;
    background-color: #d3d3d52c;
    padding: 15px;
    border-radius: 5px;
}

.my-order-content-date p:first-of-type {
    font-size: var(--font-title-h3);
    font-weight: bold;
}

.my-order-content-date p:last-of-type {
    color: #8e8e8f;
    font-size: var(--lg);
}

.my-order-content-value{
    font-size: var(--font-title-h3);
    font-weight: bold;
}

.my-order-content-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    padding: 15px;
}

.my-order-content-items p:last-of-type{
    font-size: var(--font-title-h3);
}

.my-order-img{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.my-order-service-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 15px;
    margin-right: 20px;
}

.value-item{
    font-weight: bold;
}











@media(max-width: 640px) {
    .logo {
        display: block;
        margin-bottom: 150px;
    }

    .form-container {
        height: 100%;
    }

    .form {
        height: 100%;
        justify-content: space-between;
    }

    .email-container {
        height: 100%;
        justify-content: space-between;
    }

    .btn-primary {
        margin-bottom: 50px;
    }

    .sign-button,
    .login-button,
    .btn-secondary {
        margin-bottom: 50px;
    }

    .card-container {
        grid-template-columns: repeat(auto-fill, 120px);
        gap: 30px;
    }

    .service-img {
        width: 120px;
        height: 120px;
        border-radius: 20px;
        margin-bottom: 10px;
        object-fit: cover;
    }

    .nombre-servicio {
        font-size: 1rem;
        color: rgba(149, 148, 148, 0.663);
    }

    .fa-cart-plus {
        font-size: 1.5rem;
        color: white;
    }

    .cart-container {
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--secondary-color);
        width: 30px;
        height: 30px;
        border-radius: 30px;
    }

    .precios {
        font-size: 1.3rem;
    }

    .my-order-content-items{
         margin-left: 10px;
        margin-right: 10px;
    }

    .my-order-service-img {
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 15px;
        margin-right: 10px;
    }

    .my-order-content {
        margin: 20px;
        align-items: center;
    }

    .title-order{
        margin: 30px;
    }




}